@{
    ViewData["Title"] = "Home Page";
}

    <body>
        <a href="/Pokemon/Search">
            <img src="~/Content/Images/maxresdefault.jpg" style="display:block; resize:both; width:60%; position:relative; margin-left:auto; margin-right:auto;" alt="Search em all!"; />
        </a>
    </body>
